body{
    text-align: center;}
h1{
    text-align: center;
    color: #4154f1;
}
#myInput {
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 30px; /* Add some space below the input */
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.45);

}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.45);

}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable th {
    background-color: #4154f1;
    color: white;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #87b1ff;
}